<footer>
    <div class="footerarea">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="footemenu">
                        <ul>
                            <li><a href="{{ '/imprint' | relative_url }}">Imprint</a></li>
                            <li><a href="{{ '/privacy-policy' | relative_url }}">Privacy Policy</a></li>
                            <li><a href="{{ '/terms-and-conditions' | relative_url }}">Terms &amp; Conditions</a></li>                            
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="logo footerlogo">
                        <a href="{{ '/' | relative_url }}"><img src="{{ '/assets/images/logo.png' | relative_url }}" alt="logo"></a>
                    </div>
                    <div class="darklogo footerlogo">
                        <a href="{{ '/' | relative_url }}"><img src="{{ '/assets/images/whiltlogo.png' | relative_url }}" alt="logo"></a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="footemenu2">
                        <ul>
                            <li><a href="{{ '/blog' | relative_url }}">Blog</a></li>
                            <li><a href="#">Documentation</a></li>                            
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="copyright">
                        <p>&copy; {{ site.time | date: '%Y' }} {{ site.title }}. All rights reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
