<header class="header" id="header">
    <nav class="navbar container">
        <div class="logo">
            <a href="{{ '/' | relative_url }}"><img src="{{ '/assets/images/logo.png' | relative_url }}" alt="logo"></a>
        </div>
        <div class="darklogo">
            <a href="{{ '/' | relative_url }}"><img src="{{ '/assets/images/whiltlogo.png' | relative_url }}" alt="logo"></a>
        </div>
        <div class="menu" id="menu">
            <ul class="menu-inner">
                <li class="menu-item"><a href="{{ '/about' | relative_url }}" class="menu-link">About</a></li>
                <li class="menu-item"><a href="{{ '/blog' | relative_url }}" class="menu-link">Blog</a></li>
                <li class="menu-item"><a href="{{ '/wiki/' | relative_url }}" class="menu-link">Docs</a></li>
                <li class="menu-item"><a href="{{ '/login' | relative_url }}" class="menu-link">Login</a></li>
            </ul>
        </div>
        <div class="flote-right">
            <button onclick="myFunction()" class="tobutton"><span class="simble">0</span> Night</button>
            <button onclick="myFunction()" class="nittobutton"><span class="simble">0</span> Light</button>
        </div>
        <div class="menu-block">
            <button type="button" class="burger" id="burger">
                <span class="burger-line"></span>
                <span class="burger-line"></span>
                <span class="burger-line"></span>
            </button>
        </div>
    </nav>
</header>
