{% comment %}
Table of Contents Generator
Parses HTML content for h2 and h3 headings and generates anchor links.
Usage: {% include toc.html html=content %}
{% endcomment %}

{% assign headings = include.html | split: '<h2' %}
{% assign toc_content = "" %}

<ul class="toc-list">
{% for heading in headings %}
    {% if heading contains 'id="' %}
        {% assign id_start = heading | split: 'id="' %}
        {% if id_start.size > 1 %}
            {% assign id_rest = id_start[1] | split: '"' %}
            {% assign heading_id = id_rest[0] %}

            {% assign title_start = heading | split: '>' %}
            {% if title_start.size > 1 %}
                {% assign title_rest = title_start[1] | split: '</h2>' %}
                {% assign heading_title = title_rest[0] | strip_html | strip %}

                {% if heading_title != "" %}
                <li class="toc-item toc-h2">
                    <a href="#{{ heading_id }}" class="toc-link">{{ heading_title }}</a>

                    {% comment %} Look for h3 headings within this section {% endcomment %}
                    {% assign h3_section = title_rest[1] | split: '<h2' | first %}
                    {% assign h3_headings = h3_section | split: '<h3' %}

                    {% if h3_headings.size > 1 %}
                    <ul class="toc-sublist">
                        {% for h3 in h3_headings %}
                            {% if h3 contains 'id="' %}
                                {% assign h3_id_start = h3 | split: 'id="' %}
                                {% if h3_id_start.size > 1 %}
                                    {% assign h3_id_rest = h3_id_start[1] | split: '"' %}
                                    {% assign h3_id = h3_id_rest[0] %}

                                    {% assign h3_title_start = h3 | split: '>' %}
                                    {% if h3_title_start.size > 1 %}
                                        {% assign h3_title_rest = h3_title_start[1] | split: '</h3>' %}
                                        {% assign h3_title = h3_title_rest[0] | strip_html | strip %}

                                        {% if h3_title != "" %}
                                        <li class="toc-item toc-h3">
                                            <a href="#{{ h3_id }}" class="toc-link">{{ h3_title }}</a>
                                        </li>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </ul>
                    {% endif %}
                </li>
                {% endif %}
            {% endif %}
        {% endif %}
    {% endif %}
{% endfor %}
</ul>
