/* start header_style1 */
.header_style1{
	padding:3em 0em;
}
/* start h_logo */
/* start h_menu */




.h_menu {
    float: right;
}
.flexy-menu{
	padding:0;
	position:relative;
	list-style:none;
	float: left; margin-right: 30px;
}
.flexy-menu li{
	display:inline;
	font-size:13px;
	margin:0;
	padding:0;
	float:left;
	line-height:39px;
	position:relative;
}
.flexy-menu>li>a{
	display: block;
	color: #1e2a52;
	margin: 27px 15px;
	transition: background-color 0.5s ease-out;
	-o-transition: background-color 0.5s ease-out;
	-moz-transition: background-color 0.5s ease-out;
	-webkit-transition: background-color 0.5s ease-out;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
}
.flexy-menu>li>a:hover
{
	color:#262e68; text-decoration: none;
}
.flexy-menu>li.active>a
{
	color:#fff; font-weight: 700;
}


.login-btn{font-size: 18px; margin: 20px 0px 20px 0; text-transform: uppercase; line-height: 18px; font-weight: 700; border: 2px solid #004bff;  background: transparent; border-radius: 50px; display: inline-block; padding: 13px 45px; color: #004bff;float: right; }
.login-btn:hover{ border: 2px solid #004bff; background: #004bff; color: #fff; text-decoration: none;}

.flexy-menu li.right{
	float:right;
}
.flexy-menu ul,.flexy-menu ul li ul{
	list-style:none;
	margin:0;
	padding:0;
	display:none;
	position:absolute;
	z-index:99999;
	width: 200px;
	background:#333;
	box-shadow:0 1px 1px rgba(0,0,0,0.3);
}
.flexy-menu ul{
	top:60px;
	left:0;
}
.flexy-menu ul li ul{
	top:0;
	left:100%;
}
.flexy-menu ul li{
	clear:both;
	width:100%;
	border:0;
	font-size:13px;
}
.flexy-menu ul li a{
	text-transform: capitalize;
	font-size: 13px;
	padding:10px 0px 0 0px;
	width:100%;
	color:#dedede;
	text-decoration:none;
	display:inline-block;
	float:left;clear:both;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-webkit-transition:color .2s linear,background .2s linear;
	-moz-transition:color .2s linear,background .2s linear;
	-o-transition:color .2s linear,background .2s linear;
	transition:color .2s linear,background .2s linear;
}
.flexy-menu>li .arrow{
	position:absolute;
	color:#dedede;
	top:20px;
	right:8px;
	font-size:17px;
}

.flexy-menu i{
	line-height:20px!important;
	margin-right:6px;
	font-size:18px; 
	float:left;
}
.flexy-menu>li.showhide{
	display:none;
	width:100%; background: #2f44df;
	height:60px; padding: 10px 10px; border-radius: 10px;
	cursor:pointer;
	color:#dedede;
}
.flexy-menu>li.showhide span.title{
	margin: 10px 0 0 15px;
	float: left;
	font-size: 1.3em;
	color: #FFF;
}
.flexy-menu>li.showhide span.icon{
	margin: 12px 10px;
	float: right;
}
.flexy-menu>li.showhide .icon em{
	margin-bottom:4px; 
	display:block; width:20px;
	height:3px;
	background:#fff;
}
.h_menu > ul > li.showhide > span.icon > em:nth-child(4) {
	display: none;
}
@media only screen and (max-width:1024px){
	.flexy-menu li {
		line-height: 47px;
	}
}
/***** Media Quries *****/
@media only screen and (max-width:768px){
	.wrap {
        width: 100%;
        padding: 0 5%;
    }
	.header_style1 {
	padding: 1.5em 0em;
	}
	.logo h1 a {
	font-size: 2.5em;
	}
	.h_menu ul{border-radius: 10px; background: #03152e;}
	.h_menu ul li a{color: #fff;font-size: 18px; border-bottom: 1px solid #082144;  font-family: "Sora", sans-serif;  ;line-height: 40px; padding: 5px 20px;}
    
	.logo {
        float: none;
        padding-top: 2px;
        max-width: 155px;
    }
	.logo img{width: 100%; height: auto;}
	
	.header_area .flote-right{width: auto;}
    .logintbtn {
        margin-left: 0px;
        float: left;
        padding: 10px 22px 10px 22px; margin: 15px 0 15px 0px;
    }

	.h_menu{
		float: none;
		margin: 0% 0 0;
		width: 100%; display: flow-root;
	}
	.flexy-menu{
		background: rgba(255, 255, 255, 0.4); margin:0%; width:100%;
	}
	.flexy-menu>li>a {
		color:#ffffff;
		font-size: 12px;
	}
	.flexy-menu.vertical{
		width:100%
	}
	.flexy-menu li{
		display:block;
		width:100%;
	}
	.flexy-menu>li>a{
		padding:0px 15px;
		color: #fff;
		font-size: 1.1em;
		border-bottom: none;

	}
	.flexy-menu>li>a {
		margin: 0;
	}
	.flexy-menu>li.showhide span.title {
		margin: -4px 0 0 15px;
	}
	.flexy-menu>li.active>a {
		border-bottom: none;
		}
	.flexy-menu>li>a:hover {
		color: #FFF;
		background: #082854;
	}
	.flexy-menu>li>a:hover {
		border-bottom: none;
	}
	.flexy-menu a{
		box-sizing:border-box;
		-moz-box-sizing:border-box;
		-webkit-box-sizing:border-box;
	}
	.flexy-menu ul,.flexy-menu ul li ul,.flexy-menu.vertical ul,.flexy-menu.vertical ul li ul{
		width:100%;
		left:0;
		border-left:0;
		position:static;
		box-sizing:border-box;
		-moz-box-sizing:border-box;
		-webkit-box-sizing:border-box;
	}
	.flexy-menu ul li{
		border-left:0;
		border-right:0;
	}
	.flexy-menu ul li a,.flexy-menu.vertical ul li a{
		padding-top:10px;
		padding-bottom:10px;
	}
	.flexy-menu ul>li>a{
		padding-left:40px!important;
	}
	.flexy-menu>li .arrow{
		top:15px;right:25px;
		font-size:17px;
	}
	.flexy-menu ul>li .arrow{
		display:none;
	}

	.contactbtn{text-align: center;margin: 12px auto;float: right;background: transparent;color: #262e68;border: 2px solid #262e68;padding: 8px 30px;}
}
@media only screen and (max-width: 640px) {

	.header_style1 {
	padding: 1em 0em;
	}
	.logo h1 a {
	font-size: 2.4em;
	}
}
@media only screen and (max-width: 480px) {
 

}
@media only screen and (max-width: 320px) {
	.flexy-menu>li.showhide {
		height: 40px;
	}
	.flexy-menu li {
		line-height: 10px;
	}
	.flexy-menu>li.showhide span.title {
		margin: 16px 0 0 10px;
	}
	.flexy-menu>li.showhide span.icon {
		margin: 12px 10px;
	}
	.header_style1 {
	padding: 0.5em 0em;
	}
	.logo h1 a {
	font-size: 2.3em;
	}
	.flexy-menu>li.showhide {
	height: 35px;
	}
	.flexy-menu>li.showhide span.title {
	margin: 10px 0 0 10px;
	}
	.flexy-menu>li.showhide span.icon {
	margin: 9px 4px;
	}
	.h_menu {
		margin: 0% 0 15%;
	}
    .flexy-menu>li>a {
		margin: 8px;
	}
}

















.nav-wrapper {
    width: 100px;
    float: right;
    margin: 20px 15px;
}
span.langu img {
    width: 55px;
}
	.sl-nav {
	display: inline;
  }
  .sl-nav ul {
	margin:0;
	padding:0;
	list-style: none;
	position: relative;
	display: inline-block;
  }
  .sl-nav li {
	cursor: pointer;
	padding-bottom:10px;
  }
  .sl-nav li ul {
	display: none; 
  }
  .sl-nav li:hover ul {
	position: absolute;
	top:60px;
	right:-15px;
	display: block;
	background: #fff;
	width: 120px;
	padding-top: 0px;
	z-index: 1;
	border-radius:5px;
	box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
  }
  .sl-nav li:hover .triangle {
	position: absolute;
	top: 47px;
	right: -10px;
	z-index:10;
	height: 14px;
	overflow:hidden;
	width: 30px;
	background: transparent;
  }
  .sl-nav li:hover .triangle:after {
	content: '';
	display: block;
	z-index: 20;
	width: 15px;
	transform: rotate(45deg) translateY(0px) translatex(10px);
	height: 15px;
	background: #fff;
	border-radius:2px 0px 0px 0px;
	box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
  }
  .sl-nav li ul li {
	position: relative;
	text-align: left;
	background: transparent;
	padding: 15px 15px;
	padding-bottom:0;
	z-index: 2;
	font-size: 15px;
	color: #3c3c3c;
  }
  .sl-nav li ul li:last-of-type {
	padding-bottom: 15px;
  }
  .sl-nav li ul li span {
	padding-left: 5px;
  }
  .sl-nav li ul li span:hover, .sl-nav li ul li span.active {
	color: #146c78;
  }
  .sl-flag {
	display: inline-block;
	box-shadow: 0px 0px 3px rgba(0,0,0,0.4);
	width: 15px;
	height: 15px;
	background: #aaa;
	border-radius: 50%;
	position: relative;
	top: 2px;
	overflow: hidden;
  }
  .flag-de {
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAIAAAAC64paAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAZdEVYdFNvZnR3YXJlAHBhaW50Lm5ldCA0LjAuMTM0A1t6AAAAPUlEQVQ4T+3HMQ0AIBTE0NOHM8x9B7hgh71bIWGieUvze1m7kHGBr/AVvsJX+EpmP5dV5/gKX+ErfIUvVDYcX2NMxQC8PAAAAABJRU5ErkJggg==');
	background-size: cover;
	background-position: center center;
  }
  .flag-usa {
	background-size: cover;
	background-position: center center;
	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAIAAAAC64paAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAZdEVYdFNvZnR3YXJlAHBhaW50Lm5ldCA0LjAuMTM0A1t6AAABhUlEQVQ4T2Ows82PjGixsc4LD2tysC/09Kjw8622tyuICG8u0w/cpGSCBzF4e1VmZkzw9anOzOj38a4KCW4IC22ECHYk1l9tn4gHMeTlTnZxLikvm+XiUpKW2hvgX+vnV5OVOQEoOGfOtv94AYOzU3Fd7XxHh6Lq6rlurqUx0W0J8Z1AnbW18yotonaYuOJBDBXls4A+bGpaBCTz86YEBtQCvVBSPAPIbY0oP1/aiAcxABU1Ny+2tclvbFjo5FgUF9uenNwNDLnmpkWEnV1TPRcY1O1tS4H6i4umA/0MDK2K8tlAwRqHpP1uoXgQKKraWpcClTY3LQZaCLQ5NaUX5OaWJY3++SeTC/AgBmA4AXUClUJs9ver8fKsAAYEUJCws4G21dXNB1oFdD/Qz8DQTk4C+bm2dn6DZ9bRiDQ8iAEYt8CoBpK5YBIYw0AEEZwSXX4oMB4PYoC6gCzAcDqrjGzEsMfen2xEmbMv1rSTjRi26dqRjShz9o2+6WQjBrSShQSkZAIADvW/HLrLY6cAAAAASUVORK5CYII=');
  }